@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
	margin:  0;
	padding: 0;
	font-family: 'Pacifico', cursive;
}

#logo1 {
	margin-left: 0px;
	width:100%;
}

span {
	color: #ac261b;
}

span1 {
	color: #4f2411;
}

cvet {
	color: #4f2411;
}


/* Navigation Bar*/
.nav-item {
	font-size: 40px;
	padding: 0 60px;

}

.nav-link:hover {
	font-size: 45px;
}

#Home1:hover {
	color: #ac261b;
}

.navbar-brand{
	padding: 0px 55px;
}

/* Home Section*/


#home-row {
	padding-top: 7%;
	padding-bottom: 6%;
}

#home-row-upper {
	margin: 0% 7% 0% 0%;
	padding: 0% 0% 0% 0%;
}

.home-upper-text{
	font-size: 120px;
}

.home-bottom-text {
	font-size: 60px;
}

.buttons button {
	padding: 7px 30px;
	margin-right: 15px;
	outline: none;
	border: 2px solid #4f2411;
	border-radius: 20px;
	cursor: pointer;
	color: #ac261b;
	background-color: transparent;
	font-size: 60px;
}

/* About Section */

#about {
	color: white;
	background-color: #343a40;
	text-align: center;
}

#about-options h3 {
	font-size: 50px;
}

#about-options p {
	font-size: 25px;
}
#about-options {
	padding-bottom: 5%;
	padding-top: 5%;
}

.feature-box {
	padding: 3%;
}

.about-section h1 {
	padding-top: 5%;
	font-size: 70px;
}

.about-section h3 {
	font-weight: bold;
}


/* Form Section */

#form {
	background-color: white;
	padding-bottom: 5%;
}

.order-text {
	color: black;
	text-align: center;
	padding-bottom: 5%;
	padding-top: 3%;
	font-size: 70px;
}

.doner-form{
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    background: #343a40;
    padding: 20px;
}

input[type=text] , select{
    width: 100%;
    padding:12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit]{
	width:100%;
	background: #ac261b;
	color: white;
	padding: 12px 20px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
input[type=submit]:hover{
	background: #4f2411;
}


/* Menu Section*/


#doner-menu {
  background-color: #343a40;
}

#logo1 {
  margin-top: 10px;
  padding-bottom: 0px;
  height: 75px;
}

.tytle {
  text-align: center;
}

span1 {
	color: #4f2411;
}

.menu-restaurant {
  width: 100%;
  float:left;
  padding: 15px;
  position:relative;
}

.menu-restaurant .menu-title {
  float: left;
  text-transform: capitalize;
  color: white;
}

.menu-restaurant .menu-line {
  position: absolute;
  bottom: 6px;
  border-bottom: 1px dotted white;
  margin-left: .6rem;
  margin-right: .6rem;
}

.menu-restaurant .menu-price {
  color: white;
  margin-top: 20px;
  margin-right: 10%;
  font-weight: 600;
  position: absolute;
  right: 0;
  top: 0;
}
